.chat__main
  .main__header
    .main__group
      .main__groupName
        = @group.name
      .main__memberList
        Member :
        .main__member
          - @group.users.each do |user|
            = user.name
    %a.mainHeader__editBtn{:href => "edit"}Edit

  .message__field
    = render @messages
  
  .form
    = form_with model: [@group, @message], html: {class: "new__message"}, local: true do |f|
      .input__box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit__btn'